body {
  min-width: 290px;
  font-family: 'Open Sans', Arial, sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
  overflow-x: hidden;
}

header {
  color: black;
  margin: 10px;
  font-size: 1.8rem;
  text-align: center;
}

main header {
  text-align: left;
  margin: 0px;
}

p, main li, code {
  font-size: 0.96em;
  margin: 15px;
  color: #4d4e53;
}


code {
  display: block;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 5px;
  font-size: 0.96rem;
}

nav {
  position: fixed;
  width: 300px;
  min-width: 290px;
  height: 100%;
  top: 0;
  left: 0;
  border-right: solid gray;
}

#navbar ul {
  padding: 0;
  margin-bottom: 0;
  height: 88%;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  border-top: solid gray 1px;
  margin: 0;
  padding: 10px 30px;
  position: relative;
}

main {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
}

.main-section {
  width: 70vw;
}

a {
  color: #4d4e53;
  text-decoration: none;
}

a:hover {
  color:#4d4e53; 
  text-decoration:none; 
  cursor:pointer;  
}

@media (max-width: 912px) {
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}
